{% extends "base.html" %}

{% block style %}
<style>
    .sidebar {
        width: 20%;
        background-color: #fff;
        color:#000;
        display: flex;
        flex-direction: column;
        padding: 2vh 1vw;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
        transition: background-color 0.3s, color 0.3s;
    }
    .sidebar.dark {
        background-color: #2f3136;
        transition: background-color 0.3s, color 0.3s;
    }
    .sidebar .rooms {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;
    }
    .sidebar .room {
        color: #b9bbbe;
        padding: 1vh 1vw;
        border-radius: 5px;
        margin-bottom: 1vh;
        cursor: pointer;
    }
    .sidebar .room:hover, .sidebar .room.active {
        background-color: #BF7497;
        color: #fff;
    }
    .sidebar .footer {
        color: #b9bbbe;
        font-size: 2vw;
        text-align: center;
        margin-top: auto;
    }
    .chat-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        background-color: #36393f;
        border-radius: 12px;
        overflow: hidden;
        margin: 2vh;
        height:80vh;
        max-height:80vh;
        margin-bottom:2vh;
    }
    .chat-header {
        background: linear-gradient(135deg, #f07777, #f8b5b5);
        color: #fff;
        text-align: center;
        padding: 1vh 0;
    }
    
    .chat-header h1 {
        font-size: min(3vmin,3vh);
    }
    .chat-messages {
        flex: 1;
        color:#000;
        background-color:#fff;
        padding: 2vh 2vw;
        overflow-y: auto;
        transition: background-color 0.3s, color 0.3s;
    }
    .chat-messages.dark{
        background-color: #2f3136;
        color: #dcddde;
        transition: background-color 0.3s, color 0.3s;
    }
    .message {
        margin: 1vh 0;
    }
    .message .username {
        font-weight: bold;
        color: #7289da;
        margin-right: 0.5vw;
    }
    .chat-input {
        display: flex;
        padding: 2vh 2vw;
        background-color: #f6f6f6;
        align-items: center;
        border-top: 1px solid #72767d;
        border-color:#000;
        transition: background-color 0.3s, color 0.3s;
    }
    .chat-input.dark{
        background-color: #40444b;
        transition: background-color 0.3s, color 0.3s;

    }
    .chat-input input {
        flex: 1;
        font-size: 1vw;
        padding: 1.5vh 1vw;
        border: none;
        border-radius: 5px;
        margin-right: 1vw;
        background-color:#fff;
        color:#000
    }
    .chat-input.dark input{
        background-color: #72767d;
        color: #fff;
    }
    .chat-input button {
        font-size: 1vw;
        border: none;
        border-radius: 5px;
        background-color:none;
        color: white;
        cursor: pointer;
    }
    .chat-input button:hover {
        background-color: #99aab5;
    }
    .sidebar-section img {
        width: 100%;
        border-radius: 8px;
        margin-top: 1vh;
    }
    .message-img-input{
        height:3vw;
        width:3vw;
        padding: 0; 
        border: none; 
        background: none; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        overflow: hidden; 
    }
    #id_message_send_button{
        background-color:#f07777;
        margin : 0 1vw;
        padding:1vh 1vw;
    }
    .message-img-div{
        padding-left:5vw;
        max-height:20vw;
        max-width: 20vw;
        position: relative; 
    }
    .message-img-div img{
        max-width: 20vw; /* Ensure the image doesn't exceed the width of its container */
        max-height: 20vw; /* Ensure the image doesn't exceed the height of its container */
        height: auto; /* Allow the height to adjust based on the image's aspect ratio */
        width: auto; 
    }
    #selected-file{
        font-size:min(3vw,2vh);
    }
</style>
{% endblock style %}

{% block body %}
<div class="d-flex" style="height:100%">
    <div class="sidebar dark toggleclasses">
        <div class="rooms">
            {% for space in spaces %}
            <a href="/space_room/{{space.id}}"><div class="room" onclick="changeRoom('Fitness Freaks')">{{space.name}}</div></a>
            {% endfor %}
        </div>
        <div class="footer">dQuora Spaces</div>
    </div>

    <div class="chat-container" id="chat-container">
        <div class="chat-header">
            <h1 id="room-name">{{room.name}}</h1>
        </div>
        <div class="chat-messages dark toggleclasses" id="chat-messages">
            <!-- Messages will be appended here -->
        </div>
        <div class="">
            <form>
                {% csrf_token %}
                <div class="d-flex chat-input dark toggleclasses">
                    <input type="text"  id="id_message_send_input" placeholder="Type your message here...">
                    <div class="d-flex" >
                        <div class="custom-file-input d-flex">
                          <!-- Custom button to trigger file selection dialog -->
                          <button class="message-img-input" onclick="document.getElementById('imageInput').click();"><img src="/static/image-gallery.png" ></button>
                          <!-- Actual file input -->
                          <input type="file" id="imageInput" name="image" accept="image/*">
                          <p class="selected-file" id="selectedFile"></p>
                        </div>
                    </div>
                    <button onclick="sendMessage()" id="id_message_send_button" type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>


{{ room.name |json_script:"json-roomname" }}
{{ request.user.username |json_script:"json-username" }}
{% endblock body %}

{% block script %}
<script>
    const roomName = JSON.parse(document.getElementById('json-roomname').textContent)
    const userName = JSON.parse(document.getElementById('json-username').textContent)
    console.log('userName is : '+userName)
    console.log('roomName is : '+roomName)

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + roomName
        +'/'
    );
    chatSocket.onmessage = function(e){
        console.log('onemessage')
        const data = JSON.parse(e.data)
        receiveMessage(data.username,data.message,data.image)
        if (typeof data.image !== 'undefined') {
            // Image is present
            console.log('Image is present');
        } else {
            // Image is not present (undefined)
            console.log('Image is not present'+data.image);
        }
    }
    chatSocket.onclose = function(e){
      console.log('onclose')
    }

    document.querySelector('#id_message_send_button').onclick=function(e){
        console.log('button.clicked');
        e.preventDefault();
        const messageInput = document.querySelector('#id_message_send_input');
        const message = messageInput.value
        const imageInput = document.querySelector('#imageInput');
        let imageUrl = '';  // Default to empty string if no image

        if (imageInput && imageInput.files.length > 0) {
            const imageFile = imageInput.files[0];
            console.log(imageFile)
            imageUrl = '/media/uploads/'+imageFile.name;  
            const formData = new FormData();
            formData.append('image',imageFile)

            $.ajax({
                url:'/upload_image',
                data : formData,
                type : 'POST',
                processData: false,
                contentType: false,                
                headers: {
                    'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val() // Set the CSRF token header
                },
                success:function(data){
                    if(data.image_url){
                        sendMessage('rudeus',message,data.image_url)
                    }
                }
            })
        }
        console.log(imageUrl)
        if(message==='' && imageUrl===''){

        }else{
            chatSocket.send(JSON.stringify({
            'message':message,
            'username':userName,
            'room':roomName,
            'image':imageUrl,
            }))
            messageInput.value=''
            imageInput.value=''
            document.querySelector('#selectedFile').textContent=''
        }
        return false
    }

</script>


{% comment %} Handling Images {% endcomment %}
<script> 
</script>

<script>
    // Mock function to emulate receiving a new message

    function receiveMessage(username, text, image) {
        const chatMessages = document.getElementById('chat-messages');
        const messageDiv = document.createElement('div');
        messageDiv.classList.add('message');
        messageDiv.innerHTML = `<span class="username">${username}:</span> ${text}`;
        
        if (image) {
                        // Create a div element
            const imageDiv = document.createElement('div');
            imageDiv.classList.add('message-img-div');
            const imageElement = document.createElement('img');
            imageElement.setAttribute('src', image);
            imageElement.classList.add('message-image');
            imageDiv.appendChild(imageElement);
            messageDiv.appendChild(imageDiv);
        }
        
        chatMessages.appendChild(messageDiv);
        chatMessages.scrollTop = chatMessages.scrollHeight;
    }
    function oldMessage(username, text, image) {
        const chatMessages = document.getElementById('chat-messages');
        const messageDiv = document.createElement('div');
        messageDiv.classList.add('message');
        messageDiv.innerHTML = `<span class="username">${username}:</span> ${text}`;
        
        if (image) {
                        // Create a div element
            const imageDiv = document.createElement('div');
            imageDiv.classList.add('message-img-div');
            const imageElement = document.createElement('img');
            imageElement.setAttribute('src', image);
            imageElement.classList.add('message-image');
            imageDiv.appendChild(imageElement);
            messageDiv.appendChild(imageDiv);
        }
        
        chatMessages.prepend(messageDiv);
        chatMessages.scrollTop = chatMessages.scrollHeight;
    }
    

    // Function to send a new message
    function sendMessage() {
        const messageInput = document.getElementById('id_message_send_input');
        if (messageInput.value.trim() !== '') {
            receiveMessage('You', messageInput.value);  // Add the message to the chat
            messageInput.value = '';  // Clear the input field
        }
    }

    // Function to change rooms
    function changeRoom(roomName) {
        document.getElementById('room-name').innerText = roomName;
        document.querySelectorAll('.room').forEach(room => room.classList.remove('active'));
        document.querySelector(`.room:contains('${roomName}')`).classList.add('active');
        document.getElementById('chat-messages').innerHTML = '';  // Clear messages for the new room
    }

</script>
<script>
    $(document).ready(function(){
        {% for message in messages %}
        var messageImage = "{{ message.image|default:''|escapejs }}";
        if(messageImage){
            oldMessage('{{message.user_name}}','{{message.message}}',messageImage)
        }else{
            oldMessage('{{message.user_name}}','{{message.message}}','')
        }
        {% endfor %}
        scrollToBottom()
    })
</script>
<script>
    function scrollToBottom(){
      const objDiv = document.querySelector('#chat-container')
      objDiv.scrollTop = objDiv.scrollHeight
    }
</script>

{% endblock script %}